---
import { getCollection } from 'astro:content';
import Footer from '../components/global/footer/Footer.astro';
import Main from '../components/global/main/Main.astro';
import Nav from '../components/global/nav/Nav.astro';
import PostCard from '../components/home/PostCard.astro';
import Chips from '../components/post/Chips.astro';
import '../styles.css';

const { frontmatter } = Astro.props;
const picks = await getCollection('picks', ({ data }) => {
  return data.published && data.title !== frontmatter.title;
});
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={frontmatter.excerpt} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="keywords"
      content={`${frontmatter.tags}, ${frontmatter.title}`}
    />
    <title>{`Lorre Huggan | ${frontmatter.title}`}</title>
  </head>
  <body class="bg-[#f5f1e0] text-base-800">
    <Nav />
    <Main>
      <section class="">
        <div class="flex flex-col justify-between lg:flex-row">
          <article
            class="prose prose-h2:mt-0 mb-10 max-w-[650px] prose-neutral prose-h1:font-bold prose-h1:text-4xl md:prose-h1:text-6xl prose-h1:text-base-800 prose-p:text-base-700 prose-h2:text-base-800 prose-h1:mb-12 prose-a:text-base-900 prose-a:font-bold prose-hr:border-base-800 prose-a:cursor-pointer prose-a:no-underline"
          >
            <header>
              <h2 class="max-w-[650px]">{frontmatter.title}</h2>
              <a
                style={{ color: '#9a9996' }}
                class="text-sm text-accent-500"
                href={frontmatter.url}>{frontmatter.url}</a
              >
              <p class="text-base-500 text-sm font-mono">
                {
                  `${
                    new Date(frontmatter.publishedDate)
                      .toDateString()
                      .split(' ')[1]
                  } ${
                    new Date(frontmatter.publishedDate)
                      .toDateString()
                      .split(' ')[2]
                  } ${
                    new Date(frontmatter.publishedDate)
                      .toDateString()
                      .split(' ')[3]
                  }`
                }
              </p>
              <div class="flex items-center gap-4 mt-2">
                <Chips tags={frontmatter.tags} />
              </div>
            </header>
            <slot />
            <a
              style={{ color: '#9a9996' }}
              class="text-sm text-accent-500"
              href={frontmatter.url}>{frontmatter.url}</a
            >
          </article>
        </div>
      </section>
      {
        picks.length > 0 && (
          <section class="mt-8">
            <h4>More to read...</h4>
            <div class="flex gap-4 mt-8 w-[100%] overflow-x-scroll">
              {picks
                .sort((a, b) => {
                  const aDate = new Date(a.data.publishedDate);
                  const bDate = new Date(b.data.publishedDate);
                  return bDate.getTime() - aDate.getTime();
                })
                .map((pick) => (
                  <PostCard
                    date={pick.data.publishedDate}
                    img={pick.data.image.src}
                    title={pick.data.title}
                    url={`${pick.slug}`}
                  />
                ))}
            </div>
          </section>
        )
      }
    </Main>
    <Footer />
  </body>
</html>
