---
import { getCollection } from 'astro:content';
import Footer from '../components/global/footer/Footer.astro';
import Main from '../components/global/main/Main.astro';
import Nav from '../components/global/nav/Nav.astro';
import PostCard from '../components/home/PostCard.astro';
import '../styles.css';

const { frontmatter } = Astro.props;
const posts = await getCollection('posts', ({ data }) => {
  return data.published && data.title !== frontmatter.title;
});
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="keywords"
      content={`${frontmatter.tags}, ${frontmatter.title}`}
    />
    <title>{`Lorre Huggan | ${frontmatter.title}`}</title>
  </head>
  <body class="bg-[#f5f1e0] text-base-800">
    <Nav />
    <Main>
      <section class="">
        <div class="flex flex-col justify-between lg:flex-row">
          <article
            class="prose mb-10 max-w-[650px] prose-neutral prose-h1:font-bold prose-h1:text-4xl md:prose-h1:text-6xl prose-h1:text-base-800 prose-p:text-base-700 prose-h2:text-base-800 prose-h1:mb-12 prose-a:text-base-900 prose-a:font-bold prose-hr:border-base-800"
          >
            <header>
              <h1 class="max-w-[650px]">{frontmatter.title}</h1>
            </header>
            <slot />
          </article>
        </div>
      </section>
      {
        posts.length > 0 && (
          <section class="mt-8">
            <h4>More to read...</h4>
            <div class="flex gap-4 mt-8 w-[100%] overflow-x-scroll">
              {posts
                .sort((a, b) => {
                  const aDate = new Date(a.data.publishedDate);
                  const bDate = new Date(b.data.publishedDate);
                  return bDate.getTime() - aDate.getTime();
                })
                .map((post) => (
                  <PostCard
                    date={post.data.publishedDate}
                    img={post.data.image.src}
                    title={post.data.title}
                    url={`post/${post.slug}`}
                  />
                ))}
            </div>
          </section>
        )
      }
    </Main>
    <Footer />
  </body>
</html>
